@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>Learn more in the <a href="https://docs.microsoft.com/aspnet/core/security/gdpr?view=aspnetcore-2.1">ASP.NET Core and GDPR</a> documentation.</p>
